* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-container{
    margin: 5px 200px;
    display: flex;
}

.logo {
    width: 100px;
}

.nav-item{
    padding: 10px;
    margin: 5px 150px;
}

.nav-item ul {
    display: flex;
    list-style-type: none;
}

.nav-item ul li {
    padding: 10px 40px;
    margin: 10px;
    font-size: 1.3rem;
    font-style: normal;
    cursor: pointer;
}

.login-btn{
    cursor: pointer;
    width: 100px;
    height: 33px;
    margin-top: 15px;
}

.fliter {
    padding: 10px;
    display: flex;
}

.fliter-btn {
    cursor: pointer;
    padding: 10px;
    margin-left: 1rem;
}

.res-container {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.res-card {
    width: 10%;
    /* height: 300px; */
    margin: 40px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.res-card > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.res-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

.Search {
    padding: 10px;
}

.search-box {
    height: 30px;
}

.shimmer-container {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card {
    width: 10%;
    height: 300px;
    margin: 40px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.res-info-container {
    margin: 10px;
    width: 40% ;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.res-info {
    padding: 15px;
}

.menu-items {
    display: grid;
}

.card {
    display: flex;
}

.menu-info {
    padding-left: 10px;
    width: 50%;
}

.menu-info > h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.menu-img {
    width: 10%;
    padding: 10px;
}

.menu-img > img {
    width: 100%;
    object-fit: cover;
}

.user-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 10%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.user-pic {
    border: 1px solid black;
    padding: 16px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-pic > img {
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

